.split-view > .CodeMirror {
    width:50%;
    display:inline-block !important;
    vertical-align:top;
}

.CodeMirror ~ .CodeMirror {
    border-left:1px solid #d0d0d0;
    margin-left:-1px;
}

/* These rules pertain to the vim dialog that pops up to enter commands. */
.CodeMirror-dialog-bottom {
    position:relative;
    top:-30px;
    padding-left:50px;
    z-index:4;
    background-color:black;
}

.CodeMirror-dialog-bottom > span:first-child {
    font-size:1.5em;
}

.CodeMirror-dialog-bottom > input {
    display:inline-block;
    width:70%;
    background-color:black !important;
    color:white;
}

.CodeMirror-dialog-bottom > input:focus {
    border:none;
    box-shadow:none;
}

/* CodeMirror gutters have a z-index of 3. */
.bottom-panel {
    z-index:4;
}

/* Fixes https://github.com/megalord/brackets-vim/issues/2 */
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
    z-index: 100 !important;
    background: rgba(67, 216, 145, 0.5) !important;
}