.split-editor{
    width:50%;
    display:inline-block !important;
    vertical-align:top;
}

.split_editor:first-child{
    border-right:1px solid #d0d0d0;
}

.CodeMirror-dialog-bottom{
    position:relative;
    top:-30px;
    padding-left:50px;
    z-index:4;
    background-color:black;
}

.CodeMirror-dialog-bottom > span:first-child{
    font-size:1.5em;
}

.CodeMirror-dialog-bottom > input{
    background-color:black !important;
    color:white;
}

.CodeMirror-dialog-bottom > input:focus{
    border:none;
    box-shadow:none;
}
